<div class="contain">
    <div class="row" id="head">
        <div class="col-2">
            <img class="seal"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Emblem_of_the_United_States_Navy.svg/1200px-Emblem_of_the_United_States_Navy.svg.png"
                alt="seal of the navy">
        </div>
        <div class="col-8">
            <h1 id="logText">Existing Platforms</h1>
        </div>
        <div class="row">
            <h2 class="logTextH2">Select Platform</h2>
        </div>
    </div>
    <button class="btn btn-danger" id="logout" [routerLink]="['/login']">LOGOUT</button>
    <button class="btn btn-warning" id="back" (click)="back()">BACK</button>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">MQ-1 Predator</li>
        <li class="list-group-item">MQ-4C Triton</li>
        <li class="list-group-item">MQ-8 Fire Scout</li>
        <li class="list-group-item">MQ-9 Reaper</li>
        <li class="list-group-item">MQ-20 Avenger </li>
        <li class="list-group-item">RQ-7 Shadow </li>
        <li class="list-group-item">RQ-11 Raven</li>
        <li class="list-group-item">RQ-12 Wasp</li>
        <li class="list-group-item">RQ-20 Puma</li>
        <li class="list-group-item">RQ-21 Blackjack</li>
        <li class="list-group-item">RQ-170 Sentinel</li>
        <li class="list-group-item">X-47B Pegasus</li>
    </ol>
</div>