<div class="contain">
    <div class="row" id="head">
        <div class="col-2">
            <img class="seal"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Emblem_of_the_United_States_Navy.svg/1200px-Emblem_of_the_United_States_Navy.svg.png"
                alt="seal of the navy">
        </div>
        <div class="col-8">
            <h1 id="logText">Existing Platforms</h1>
        </div>
        <div class="row">
            <h2 class="logTextH2">Select Platform</h2>
        </div>
    </div>
    <button class="btn btn-danger" id="logout" [routerLink]="['/login']">LOGOUT</button>
    <button class="btn btn-warning" id="back" (click)="back()">BACK</button>
    <ol id="two-columns" class="list-group list-group-numbered row">
        <li *ngFor="let drone of drones" class="list-group-item col-4" [routerLink]="['/missionConfig']">{{drone}}</li>
    </ol>
</div>