.contain{
    background-color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}
.reaper{
    margin-top: 3%;
    display: inline-block;
    text-align: center;
}
#camp{
    text-align: center;
}
#v0{
    text-align: right;
}
#description{
    text-align: center;
    position: relative;
}
#warn{
    background: red;
    font-size: 22px;
    text-align: center;
}
#log{
    text-align: center;
}
.logA{
    font-size: 22px;
}
.row{
    margin-left: 2px;
    max-width: 99.8vw;
}