<div class="contain">
    <div class="row head">
        <div class="col"></div>
        <div class="col" id="camp">
            <h1>CAMP</h1>
        </div>
        <div class="col" id="v0">
            <h2>V03B</h2>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img class="reaper" src=".\assets\ere.gif" alt="reaper img">
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col" id="description">
            <h2>Concept Of Operations Autonomous Mission Planner</h2>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col" id="warn"><p>WARNING:</p>USE OF THIS SYSTEM IS RESTRICTED TO AUTHORIZED PERSONNEL ONLY </div>
        <div class="col" id="log">
            <div class="row" class="logA">
                <a  href="/login">LOGIN</a>
            </div>
            <div class="row">PROPERTY OF United States Navy
                SYSTEM  ID: AA300X1 S/N: 192168224</div>
        </div>
    </div>
</div>