.contain{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.reaper{
    margin-top: 3%;
    display: inline-block;
    text-align: center;
}
#camp{
    text-align: center;
}
#v0{
    text-align: right;
}
#description{
    text-align: center;
    position: relative;
}
#warn{
    background: red;
    font-size: 22px;
    text-align: center;
}
#log{
    text-align: center;
}
.logA{
    font-size: 22px;
}