#head{
    width: 90%;
}
html,body
{
    width: 99%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}.contain{
    color: white;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.seal{
    height: 200px;
    width: 200px;
}
.formContain{
    width: 50%;
    align-self: center;
    left: 25%;
    position: relative;
}
#logText{
    position: relative;
    top: 30%;
    text-align: left;
}
#notice{
    margin-top: 20px;
    text-align: center;
    background: red;
    width: 100.7%;
}
.loginForm{
    width: 99%;
}
.row{
    margin-left: 2px;
    max-width: 99.8vw;
}
#back{
    display: inline-block !important;
    margin-top: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 193px;
    height: 50px;
    border-radius: 0px;
    font-size: 28px;
    padding-bottom: 10px;
    color: black;
}